@import './panel-header/panel-header.component.scss';
@import './panel-content/panel-content.component.scss';

.panel {
  padding: 8px;
  background: #757575;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
