.list-component {

  &__item {
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      margin-left: 4px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
