<section class="properties-panel panel">
  <h2 class="panel__title">Properties</h2>
  <section class="panel__content">
    <section class="table-properties">
      <section class="table-properties__header">
        <div class="input-form">
          <label>Name</label>
          <input type="text" />
        </div>
      </section>
      <section class="table-properties__columns">
        <header class="table-properties__columns__header">
          <label>Name</label>
          <label>Type</label>
          <label>Not Null</label>
          <label>Pk</label>
        </header>

        <ul class="table-properties__columns__list">
          <li>
            <div class="input-form">
              <label>Name</label>
              <input type="text" />
            </div>
          </li>
          <li>
            <div class="input-form">
              <label>Type</label>
              <input type="text" />
            </div>
          </li>
          <li>
            <span class="input-checkbox">
              <label><span>Not Null</span>
                <input type="checkbox">
              </label>
            </span>
          </li>
          <li>
            <span class="input-checkbox">
              <label><span>PK</span>
                <input type="checkbox">
              </label>
            </span>
          </li>
          <li>
            <i class="material-icons">edit</i>
          </li>
          <li>
            <i class="material-icons">delete</i>
          </li>
        </ul>
      </section>
    </section>

  </section>
</section>
