<section class="properties-panel panel">
  <h2>Properties</h2>
     <section class="proprieties-tree">
      
      
         <p class="proprieties_tree-list_p">Model data</p>
         <p class="proprieties_tree-list_p">Additional SQL scripts</p>
         <p class="proprieties_tree-list_p">Model validation settings</p>
         <p class="proprieties_tree-list_p">Format</p>
         <p class="proprieties_tree-list_p">SQL generation settings</p>
         <p class="proprieties_tree-list_p">Default additional proprieties</p>
        
        
       
    </section>
</section>
