<section class="structure-panel panel">
  <h2 class="panel__title">Structure</h2>
  <section class="panel__content">
    <section class="table-tree">
      <header class="table-tree__header">
        <h3 class="table-tree_header__title">Tables</h3>
      </header>
      <ul class="table-tree_list">
        <li><i class="material-icons">table_chart</i>Table 1</li>
        <li><i class="material-icons">table_chart</i>Table 2</li>
        <li><i class="material-icons">table_chart</i>Table 3</li>
        <li><i class="material-icons">table_chart</i>Table 4</li>
      </ul>
    </section>
    <section class="referince-tree">
      <header class="referince-tree__header">
        <h3 class="referince-tree_header__title">Referinces</h3>
      </header>
      <ul class="referince-tree_list">
        <li>Referince 1</li>
        <li>Referince 2</li>
        <li>Referince 3</li>
       </ul>
    </section>
     <section class="note-tree">
      <header class="note-tree__header">
        <h3 class="note-tree_header__title">Notes</h3>
      </header>
      <ul class="note-tree_list">
        <button >note1</button>
        <button>note2</button>
        
       </ul>
    </section>
    
    
    
    
  </section>
</section>
