<section class="structure-panel panel">
  <header class="panel__header">
    <button class="panel__header__close-btn icon-btn">
      <i class="material-icons">close</i>
    </button>
    <h2 class="panel__header__title">Structure</h2>
  </header>
  <div class="panel__content">
    <section class="panel__content__section">
      <header class="panel__content__section__header">
        <h3 class="panel__content__section__header__title">Tables</h3>
      </header>
      <ul class="table-tree_list list-component">
        <li class="list-component__item">
          <i class="material-icons">table_chart</i>
          <span>Table 1</span>
        </li>
      </ul>
    </section>
    <section class="panel__content__section">
      <header class="panel__content__section__header">
        <h3 class="panel__content__section__header__title">Referinces</h3>
      </header>
      <ul class="referince-tree_list list-component">
        <li class="list-component__item">
          <i class="material-icons">show_chart</i>
          <span>Referince 1</span>
        </li>
      </ul>
    </section>
     <section class="note-tree panel__content__section">
      <header class="panel__content__section__header">
        <h3 class="panel__content__section__header__title">Notes</h3>
      </header>
      <ul class="note-tree_list">
        <button >note1</button>
        <button>note2</button>
      </ul>
    </section>
  </div>
</section>
