.panel {
  padding: 8px;
  background: #757575;
}

.panel__header {
  padding: 8px 4px;
}

.panel__header__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

.panel__content {

}

.panel__content__section {
  background: #494949;
  padding: 8px;
  margin-bottom: 8px;
}

.panel__content__section__header {
  border-bottom: 1px solid #4caf50;
  padding: 4px 0;
  margin-bottom: 4px;
}

.panel__content__section__header__title {
  font-size: 14px;
  font-weight: 400;
}
