.table-properties__columns__header {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1.5fr 1.5fr 0.25fr 0.25fr 0.25fr 0.25fr;
}

.table-properties__columns__list li {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1.5fr 1.5fr 0.25fr 0.25fr 0.25fr 0.25fr;
}

.table-properties__columns__list li .input-form label,
.table-properties__columns__list li .input-checkbox label span {
  display: none;
}
