.table-tree{
  border-style: solid;
    border-width: 5px;
    border-color:hsl(0, 0%, 24%);
}
.referince-tree{
  border-style: solid;
    border-width: 5px;
    border-color:hsl(0, 0%, 24%);
}


.table-tree_list {
   
   list-style-type: none;
}
.note-tree{
  border-style: solid;
    border-width: 5px;
    border-color:hsl(0, 0%, 20%);
}


.note-tree_list {
   
   list-style-type: none;
   
}

.note-tree_list button
{border-style:solid;
 border-width: 1px;
 border-color:black;
 background:hsl(0, 0%, 27%)
  
}

