
body {
  background: hsl(0, 0%, 57%);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
form {border: 6px solid hsl(0, 0%, 47%);
      background: hsl(0, 0%, 67%);
      margin-top:200px;
      }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: hsl(0, 0%, 27%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.continue {
    width: auto;
    padding: 10px 18px;
    background-color:  #004D40;
}

.means {
   color: hsl(0, 0%, 27%);
   font-weight: bold;
   font-size: 60px;
  
}
.wmeans {
   color: hsl(0, 0%, 27%);
   font-weight: bold;
   font-size: 40px;
  
}
.w2means {
   color: hsl(0, 0%, 27%);
   font-weight: bold;
   font-size: 25px;
}
.container {
    padding: 16px;
}



a{
  color:hsl(0, 0%, 17%)
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
.navigation__logo {
  color: #004D40;
  font-weight: bold;
  font-size: 70px;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: auto;
}

.left{
 text-align:left;
}
.center{
 text-align:center;
}
.right{
text-align:right;
}

