.table {
  fill: white;
}

.table-background {
  fill: #495459;
}

.table-border {
  fill: none;
  stroke-width: 2px;
}

.table__header {

}

.table__header__background {
  fill: #212b30;
}

.table__header__title {
  fill: white;
  font-size: 12px;
}

rect {
  fill: none;
}

.col-name {
  fill: #ecf0f1;
}

.col-type {
  fill: #e67e22;
}

.table-title {
  transform: translate(0, 0);
}

text {
  font-size: 12px;
}

.icon {
  fill: white;
}

.icon.table__column_key-pk {
  fill: #fdd835;
}
