$properties-panel-width: 500px;
$properties-panel-top: 60px;

.properties-panel {
  position: absolute;
  right: 0;
  top: $properties-panel-top;
  width: $properties-panel-width;
  transition: transform 1s ease-in-out;
  transform: translate($properties-panel-width, 0);

  &--expanded {
    transform: translate(0, 0);
  }
}

.table-properties {
  
  &__columns-list {
    li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .input-form:first-child {
        margin-right: 8px;
      }
    }
  }
}
